@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Kalam);

$primary-color: #0079FF;
$secondary-color: #000000;
$lawn-green: #7CFC00;


* {
    font-family: Cabin;    
}

nav {  
    
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;  
        background-color: $secondary-color; 
        overflow: hidden;             
        
        li {                   
            float: left;      
           
            a{  
                text-decoration: none;
                text-align: center;                
                display: block;                
                padding: .9em 2em;  
                color: $primary-color;    
                
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;                              
                } 

                &.active {
                    border-top: 0.625em solid yellow; 
                    
                    &:hover {
                        background-color: $secondary-color;
                        color: $primary-color;
                    }    
                }        
            } 

            h1 {
                color: $lawn-green;
                padding: 0 7.8em 0 1.56em;
                font-family: Kalam;
            
            }
            
        }    
    }
}

// the main article content
.main-content {
    margin: 0 20%;    
    height: 50em;
    padding-top: .1em;
    z-index: 1;    
}

// for small screens
@media screen and (max-width: 64em) {  
  
    nav {        
        height: 7.5em;    
        margin-bottom: 13.44em;
        
        ul > li{     
            width: 100%;             
            
            a.active {
                border: 0.625em double yellow;             
    
            }
        }    
    }   
    
    .main-content {
        margin: 0 10%;  
    }
    
}