<nav>
    <ul>
    <li>
        <h1>
            Prasanna Shiwakoti
        </h1>
    </li>
        <li>
            <a routerLink="/home"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/resume"  routerLinkActive="active">
                Resume
            </a>
        </li>
        <li>
            <a routerLink="/projects"  routerLinkActive="active">
                Projects
            </a>
        </li>
        <li>
            <a routerLink="/about"  routerLinkActive="active">
                About
            </a>
        </li>
        <li>
            <a routerLink="/contact"  routerLinkActive="active">
                Contact
            </a>
        </li>       
         
    </ul>  
</nav>

<article class="main-content">
    <router-outlet></router-outlet>
</article>
