<h2> 
    My Projects 
</h2>

<article>
    <section class="shadow" *ngFor="let project of projects">
        <h3>
            {{project.name}}
        </h3>
        
        <a class="button" href={{project.repo}} title={{project.repo}} target="_blank"> 
            <button>                
                    Git Repository                 
            </button> 
        </a>
        <div>
            {{project.description}}
        </div>
        
    </section>
</article>