<h2> My Resume </h2>

<section class="shadow">
    <a href="assets/resume.docx" class="button" download> 
        <button id="download-docx">
            Download .docx 
        </button>       
    </a> 
   <object width="100%" height="100%" data="assets/resume.pdf"></object>
</section>    