body {
    background-image: url("/assets/the_horsehead_nebula.jpg");
    background-position: 0px -5em;
    height: 600px;      
}

app-root {
    z-index: 0;
    
}
h2 {
    text-align: center;
    padding-top: 1em;
    
}

h3 {
    display: inline;
    margin-right: 1em;
    
}

div {
    padding: 1em;
    text-indent: 2em;
}

code {
    padding: .5em;
}

button {
    border-radius: 2em;
    padding: 1em; 
    border: 1px solid green;
    color: blue;
    transition: .4s;
    cursor: pointer;
    background: white;
    
}

button:hover {
    background-color: green;
    color: white;
}

.shadow {    
    margin: 2em;
    padding: 2em;
    box-shadow: .5em .5em .5em .5em grey;
    border-radius: 1em;
    background-color: white;    
}

#download-docx {
    margin-bottom: 1em;
    float: right; 
}
